# .NET build output
bin/
obj/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# SonarQube
.sonarqube/*

# Visual Studio Code workspace specific files
*.code-workspace

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# macOS specific
.DS_Store